<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th>书名</th>
        <th>作者</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "book", :collection => @books %>
      <tr>
        <td colspan="3"><%= will_paginate @books %></td>
      </tr>
    </tbody>
  </table>
</div>
