<object id="bambookplugin" type="application/x-bambookplugin" width="0" height="0">
</object>

<div id="box" style="display:none;">
  <div class="block">
    <h2>连接到Bambook</h2>
    <div class="content">
      <form action="#" class="form">
        <div class="group wat-cf">
          <div class="left">
            <label class="label">IP</label>
          </div>
          <div class="right">
            <input type="text" class="text_field" id="bambook_ip" value="192.168.250.2"/>
            <span class="description">提示: 如果您使用USB连接, 192.168.250.2就是默认IP</span>
          </div>
        </div>

        <div class="group navform wat-cf">
          <div class="right">
            <button class="button" type="submit" id="btn_connect">
              <%= image_tag("icons/tick.png", :alt => "connect") %> 连接
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="install_plugin" class="block" style="display:none;">
  <div class="content">
    <h2 class="Title">提示</h2>
    <div class="inner">
      <p>您需要先安装Bambook浏览器插件，请通过盛大云梯下载该插件，安装插件之后请关闭浏览器重开，您就能够通过网页分享，下载和订阅各种书籍</p>
    </div>
  </div>
</div>

<div id="bambook_books" class="block" style="display:none;">
  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th>书名</th>
          <th>作者</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<div id="server_books" class="block" style="display:none;">

</div>

<div id="message" style="display:none;">
  <h4><%= image_tag "icons/ajax_loader.gif" %> <span></span></h4>
</div>