<object id="bambookplugin" type="application/x-bambookplugin" width="0" height="0">
</object>

<div id="box" style="display:none;">
  <div class="block">
    <h2>连接到Bambook</h2>
    <div class="content">
      <form action="#" class="form">
        <div class="group wat-cf">
          <div class="left">
            <label class="label">IP</label>
          </div>
          <div class="right">
            <input type="text" class="text_field" id="bambook_ip" value="192.168.250.2"/>
            <span class="description">提示: 如果您使用USB连接, 192.168.250.2就是默认IP。<br/><br/>通过 wifi 连接网络检查 IP 地址的方法: 按菜单键, 选择"我的设置" -> "网络设置" -> "设置 Wi-Fi 网络"<br/>然后再按菜单键, 选择"Wi-Fi全局设置", 就可以看到当前 Bambook 的 IP 地址了。
</span>
          </div>
        </div>

        <div class="group navform wat-cf">
          <div class="right">
            <button class="button" type="submit" id="btn_connect">
              <%= image_tag("icons/tick.png", :alt => "connect") %> 连接
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="install_plugin" class="block" style="display:none;">
  <div class="content">
    <h2 class="Title">提示</h2>
    <div class="inner">
      <p>您需要先安装Bambook浏览器插件(v1.0.1)，请通过盛大云梯下载该插件，安装插件之前请关闭所有浏览器，安装好以后您就能够通过本网页分享，下载和订阅各种书籍</p>
    </div>
  </div>
</div>

<div id="bambook_books" class="block" style="display:none;">
  <div class="content">
    <table class="table">
      <thead>
        <tr>
          <th>书名</th>
          <th>作者</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<div id="server_books" class="block" style="display:none;">

</div>

<div id="message" style="display:none;">
  <h4><%= image_tag "icons/ajax_loader.gif" %> <span></span></h4>
</div>