<object id="bambookplugin" type="application/x-bambookplugin" width="0" height="0">
</object>
<ul>
  <li><input type="button" id="btn_connect" value="连接Bambook"/>  <input type="text" id="bambook_ip" value="192.168.250.2"/></li>
  <li><input type="button" id="btn_list" value="列出Bambook上的自有书籍"/></li>
  <li><input type="button" id="btn_download" value="下载snb文件到Bambook"/> <input type="text" value="http://localhost:3000/test"/></li>
</ul>

<table style="float: left;" width="50%">
  <tbody id="bambook_books"></tbody>
</table>

<table style="float: right;" width="50%">
  <tbody id="server_books"></tbody>
</table>