<object id="bambookplugin" type="application/x-bambookplugin" width="0" height="0">
</object>
<div>
  <input type="button" id="btn_connect" value="连接Bambook"/>  <input type="text" id="bambook_ip" value="192.168.250.2"/>
</div>

<table style="float: left;" width="50%">
  <thead>
    <tr>
      <td colspan="3">Bambook上的自有书籍</td>
    </tr>
  </thead>
  <tbody id="bambook_books"></tbody>
</table>

<table style="float: left;" width="50%" class="sortable">
  <thead>
    <tr>
      <td colspan="3">我上传的自有书籍</td>
    </tr>
  </thead>
  <tbody id="server_books"></tbody>
</table>

<div id="message" style="display:none;"></div>